mixin menuItem(href, iconClass, text, extraClass)
  li.sidebar-menu-item
    a.sidebar-menu-item-link(class=extraClass, href=href)
      i(class=iconClass)
      span= text

aside.sidebar
  .sidebar-logo
    i.fa-brands.fa-envira.sidebar-logo-icon
    p.sidebar-logo-text FChain
  ul.sidebar-menu
    +menuItem("/", "fa-solid fa-house icon", "Home", "")
    
    
    